//body

ion-content {
  --background: url('/assets/Imagenes/fondo.jpg');
}

//HOME

.homeHeader {
  background-image: url('/assets/Imagenes/homeHeader.jpg');
  width: 100%;
  opacity: 0.9;
  text-align: center;
  align-items: center;
  border-bottom: 4px solid blue;
}

.titleHeader {
  padding-top: 10%;
  font-family: Bear;
  font-size: 100px;
  color: white;
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);

}

.subtitleHeader {
  padding-bottom: 2%;
  font-size: 35px;
  font-family: Bear;
  color: white;
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

.buttonHeader {
  font-family: Bear;
  font-size: 20px;
}

.enderHeader {
  padding-bottom: 8%;
}

.homeInfo {
  text-align: center;
}

.containerInfo {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
}

.itemInfo {
  flex-grow: 1;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 20%;
  background-color: white;
  padding: 20px;
  border: 4px solid blue;
  border-radius: 20px;
}

.homeInfo {
  margin-top: 3%;
}

.titleInfo {
  font-size: 30px;
  color: black;
  font-family: Arial;
}

.subtitleInfo {
  font-size: 20px;
  color: black;
  font-family: Arial;
  margin-top: 2%;
}

.infoT {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.infoS {
  color: black;
  margin-top: 10px;
  font-size: 15px;
}

//HEADER

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  background-color: white;
  border-bottom: 4px solid lightblue;
  border-right: 4px solid lightblue;
}

.logo {
  height: 100%;
}

.loginGif {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  height: 60%;
}

.header img:hover {
  background-color: lightblue;
}

.header h1 {
  font-size: 3em;
  color: rgb(122, 213, 243);
  text-shadow: 2px 2px blue;
}


//menu on header

.menu{
  display: flex;
}
.getSoftware {
  margin-left: 10%;
  font-size: 25px;
  color: white;
  background-color: rgb(122, 213, 243);
  border-radius: 100%;
  padding: 20px;
  border-bottom: 4px solid blue;
  border-right: 4px solid blue;
  text-shadow: 2px 2px blue;
}

.getSoftware:hover {
  font-size: 25px;
  color: white;
  background-color: blue;
  border-radius: 100%;
  padding: 20px;
  border-bottom: 4px solid blue;
  border-right: 4px solid blue;
  text-shadow: 2px 2px black;
}

//LOGIN

.loginFULL{
  background: rgb(122, 213, 243);
  position: absolute;
  z-index: 9;
  right: 0%;
  width: 30%;
  border: 4px solid blue;
  text-shadow: 1px 1px black;
}

.login{
  background: rgb(122, 213, 243);
  display: flex;
  justify-content: space-between;
  border: 4px solid blue;
}

.login ion-img {
  width: 10%;
  height: 10%;
}

.login ion-text {
  margin-right: 10%;
  margin-top: 3%;
  font-size: 1.5em;
}

//INTRO

.introText {
  font-size: 3em;
  top: 5%;
  right: 5%;
  position: absolute;
  color: white;
  text-shadow: 2px 2px black;
}

.introGif {
  width: 100%;
  height: 100%;
}

//Descuentos

.countdown {
  font-family: LemonFriday;
  background-image: url('../../assets/Imagenes/blueprint.png');
  text-shadow: 2px 2px black;
  font-size: 2em;
  text-align: center;
  border-bottom: 4px solid rgb(122, 213, 243);
}

.countdown2 {
  font-family: LemonFriday;
  background-image: url('../../assets/Imagenes/addForum.jpg');
  text-shadow: 2px 2px black;
  font-size: 2em;
  text-align: center;
  border-bottom: 4px solid rgb(122, 213, 243);
}

.oferta {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

//Comprant


.containerBuying {
  font-family: Bear;
  display: flex;
  margin-top: 10%;
}

.containerBuying .item {
  background-color: white;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  border: 4px solid black;
}

.containerBuying .item:hover {
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);

}

.containerBuying .item + .item {
  margin-left: 2%;
}

li {
  font-size: 20px;
}

.granted {
  color: green;
}

.denied {
  color: red;
}

.buy{
  font-size: 20px;
  background-color: green;
  color: white;
  text-shadow: 1px 1px black;
  padding: 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: 4px solid rgb(15, 53, 0);
  border-right: 4px solid rgb(15, 53, 0);
}

.buy:hover {
  background-color: lightgreen;
  color: white;
  text-shadow: 1px 1px black;
  padding: 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: 4px solid rgb(15, 53, 0);
  border-right: 4px solid rgb(15, 53, 0);
}

.furgoneta {
  margin-left: 5%;
  width: 800px;
  height: 500px;
}

.message {
  font-size: 50px;
  color: white;
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  margin-top: 10%;
  margin-left: 5%;
}

.felicitats {
  background-image: url('../../assets/Imagenes/licChange.jpg');
  width: 100%;
  height: 100%;
}

.felix {
  font-size: 50px;
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  padding-top: 5%;
  padding-left: 5%;
}

#azul {
  margin-left: 20%;
}

//FITXERS

.addFiles {
  font-family: Bear;
  background-image: url('../../assets/Imagenes/fitxers.jpg');
  align-items: center;
  text-align: center;
  border-bottom: 4px solid blue;
}

.addFiles:hover {
  color: lightblue;
  transition: .5s ease;
  opacity: 0.8;
}

.addFiles:hover .messageFiles {
  opacity: 1;
}

.messageFiles {
  height: 200px;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 35px;
  padding-top: 80px;
  align-items: center;
}



.fitxers{
  width: 200px;
  font-size: 20px;
  background-color: rgb(0, 172, 202);
  color: white;
  text-shadow: 1px 1px black;
  padding: 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: 4px solid rgb(0, 33, 139);
  border-right: 4px solid rgb(8, 0, 53);
}

.fitxers:hover {
  background-color: rgb(83, 244, 255);
  color: white;
  text-shadow: 1px 1px black;
  padding: 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: 4px solid rgb(0, 33, 139);
  border-right: 4px solid rgb(8, 0, 53);
}

.containerButtons {
  display: flex;
  margin-top: 10%;
  margin-left: 30%;
}

.espaiFitxers{
  text-align: center;
}

.fitxers {
  width: 300px;
}

.fitxers img {
  width: 100%;
  height: 200px;
}
.containerFitxers{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.addFitxers {
  text-shadow: 2px 2px black;
  font-family: Bear;
  color: white;
  background-image: url('../../assets/Imagenes/fondoadd.jpg');
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: lightblue;
  font-size: 20px;
  border-bottom: 4px solid black;
}

.aqui {
  font-size: 50px;
}

.aqui:hover {
  color: lightblue;
}

.addInput {
  text-shadow: 2px 2px black;
}

.nomCard {
  font-family: Bear;
  padding-bottom: 26px;
}

.cardInside input {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 15px;
}


//FORUM

.forum {
  margin: 0;
}

.crearThread{
  width: 100%;
  height: 200px;
}

.crearThread input {
  color: black;
}

.addThreads {
  font-family: Bear;
  background-image: url('../../assets/Imagenes/addForum.jpg');
  align-items: center;
  text-align: center;
  border-bottom: 4px solid blue;
}

.crearThread {
  text-shadow: 2px 2px black;
  color: white;
  font-size: 35px;
  padding: 40px;
  align-items: center;
}

.flexed {
  display: flex;
  justify-content: center;

}

.flexed input {
  margin-left: 10px;
}

.addFil {
  align-items: center;
  width: 200px;
  background-color: blue;
  border-radius: 4px;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  margin-left: 10px;
}

.addFil:hover {
  width: 200px;
  background-color: lightblue;
  border-radius: 4px;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  margin-left: 10px;
}

.crear {
  margin-top: 5%;
}

.headerTitle {
  margin-top: 9px;
}

.titol {
  width: 40%;

  color: black;
  font-size: 20px;
}

.creador {

  color: black;
  font-size: 15px;
}

.respostes {

  color: black;
  font-size: 25px;
}


.Unclicked {

  font-family: Arial;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Unclicked:hover {
  background-color: rgb(213, 236, 243);
}

.Unclicked .titol:hover {
  color: rgb(0, 17, 255);
}

.Clicked {
  background-color: white;
}

.threadTitol {
  font-size: 20px;
  font-weight: bold;
}

.threadTitol:hover {
  color: rgb(0, 17, 255);
}


.par {
  display: flex;
}

.usuari {
  font-size: 15px;
  color: blue;
  text-shadow: 1px 1px lightblue;
}
.usuariExtern {
  font-size: 15px;
  color: lightblue;
  text-shadow: 1px 1px blue;
}

.missatgeUsuari {
  margin-left: 10px;
  font-size: 15px;
  text-shadow: 1px 1px white;
}

.enviarMissatge {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.enviarMissatge input {
  width: 60%;
}

.enviarMissatge ion-button {
  width: 15%;
}

// https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}


@media only screen and (max-width: 850px)  {
  .countdown {
    font-size: 20px;
  }

  .titleHeader {
    font-size: 30px;
  }

  .subtitleHeader {
    font-size: 20px;
  }

  .titleInfo {
    font-size: 20px;
  }

  .subtitleInfo {
    font-size: 15px;
  }

  .itemInfo{
    width: 100%;
  }

  .cardInside input {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 15px;
  }

  .crearThread {
    text-shadow: 2px 2px black;
    color: white;
    font-size: 15px;
    padding: 55px;
    align-items: center;
  }
  
  .titol {
    font-size: 15px;
  }

  .creador {
    font-size: 10px;
  }

  .respostes {
    font-size: 10px;
  }

  .missatgeUsuari {
    margin-left: 1px;
    font-size: 15px;
    text-shadow: 1px 1px white;
  }

}