<ion-content>

  <p *ngIf="intro" class="introText">Pica per accedir</p>
  <img *ngIf="intro" class="introGif" (click)="intro = false" src="./assets/Imagenes/gifinicial.gif" alt="INICIAL">

    <div class="header" *ngIf="!intro">
      <img class="logo" (click)="goHome()" src="./assets/Imagenes/logo1.png" alt="LOGO">
      <div class="loginGif">
        <div class="menu" *ngIf="logged && menuToggled">
          <button (click)="goFitxers()"class="button button2"><div class="buttonHeader">Núvol</div></button>
          <button (click)="goForum()"class="button button2"><div class="buttonHeader">Fórum</div></button>
        </div>
        <button class="menu" *ngIf="logged" (click)="toggleMenu()" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
          <svg width="50" height="50" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
          </svg>
        </button>
        <img *ngIf="!logged" (click)="loginGoogle()" src="./assets/Imagenes/loginNit.gif" alt="LOGO">
        <img *ngIf="logged"(click)="tancarGoogle()" src="./assets/Imagenes/loginDia.gif" alt="LOGO">
      </div>
    </div>


  <div class="countdown">
    <div class="oferta">Disfrute de un descuento del 25% en nuestro software! Finaliza en {{dias}}d {{horas}}h {{minutos}}m {{segundos}}s</div>
  </div>

  <div class="home" *ngIf="!buying && !congratulations && !fitxers && !forum">
    <div class="homeHeader">
      <div class="titleHeader">Simplifica el disseny.</div>
      <div class="subtitleHeader">Graphic Engine t'ajudará amb el teu treball.</div>
      <button (click)="goLlicencia()"class="button button2"><div class="buttonHeader">Adquirir llicencia!</div></button>
      <div class="enderHeader"></div>
    </div>

    <div class="homeInfo">
      <div class="titleInfo">Una eina per dissenyar eficientment un interior</div>
      <div class="subtitleInfo">Graphic Engine es un eina dedicada al disseny d'interiors, amb eines dedicades per a totes les fases del disseny.</div>
      <div class="containerInfo">
        <div class="itemInfo">
          <img  width="100px" src="./assets/Imagenes/libreria.png" alt="INICIAL">
          <div class="infoT">Llibreries personals</div>
          <div class="infoS">Utilitza totes les llibreries de mobles propies per a dissenyar el teu mobiliari.</div>
        </div>
        <div class="itemInfo">
          <img  width="100px" src="./assets/Imagenes/foro.png" alt="INICIAL">
          <div class="infoT">Fórum public</div>
          <div class="infoS">Consulta els teus dubtes o dubtes d'altres usuaris per resoldre els teus dubtes.</div>
        </div>
        <div class="itemInfo">
          <img  width="100px" src="./assets/Imagenes/nube.png" alt="INICIAL">
          <div class="infoT">Núvol de fitxers</div>
          <div class="infoS">Puja els teus fitxers al núvol i emportate'ls on vulguis.</div>
        </div>
        <div class="itemInfo">
          <img  width="100px" src="./assets/Imagenes/user.png" alt="INICIAL">
          <div class="infoT">Per a tots els usuaris</div>
          <div class="infoS">Utilitza Graphic Engine per a la part de disseny de la casa, dels mobles, i del seu conjunt.</div>
        </div>
        <div class="itemInfo">
          <img  width="100px" src="./assets/Imagenes/licence.png" alt="INICIAL">
          <div class="infoT">Llicencies personalitzades</div>
          <div class="infoS">Pots pagar només per el que vols, i pots actualitzar el teu compte en qüalsevol moment.</div>
        </div>
        <div class="itemInfo">
          <img  width="100px" src="./assets/Imagenes/phone.png" alt="INICIAL">
          <div class="infoT">Arxius on the go</div>
          <div class="infoS">Visualitza la teva llibreria de fitxers a la nostre App.</div>
        </div>
      </div>
    </div>

  </div>

  <div class="countdown2" *ngIf='userLicenciaData.correo && buying && !loadingBought && !fitxers  && !forum'>
    <div class="oferta">Pots descarregar l'ultima llicencia! 
      <button (click)="encrypt(userLicenciaData)" class="button button2">Descarregar Llicencia</button>
      <a href="https://firebasestorage.googleapis.com/v0/b/graphic-engine2021.appspot.com/o/GraphicEngine.rar?alt=media&token=566368be-fbb3-4323-896e-0dd85b63ba89" download>
        <button class="button button2">Descarregar Programa</button>
      </a>
    </div>
  </div>

  <div class="containerBuying" *ngIf="buying && !loadingBought && !fitxers  && !forum">

    <div class="item">
      <h1> Llicencia Estandard</h1>
      <ul>
        <li class="granted">Accés ilimitat al software.</li>
        <li class="granted">Accés al forum de consulta.</li>
        <li class="denied">Suport 24/7.</li>
        <li class="denied">Accés a la llibreria de models 3d.</li>
        <li class="denied">Accés anticipat a noves funcionalitats.</li>
      </ul>
      <h2> Preu: </h2>
      <h2 class="granted"> 15,88€ / mes </h2>
      <div class="buy" (click)="updateLlicencia('estandard')">Comprar!</div>
    </div>
    <div class="item">
      <h1> Llicencia Dissenyador de mobles</h1>
      <ul>
        <li class="granted">Accés ilimitat al software.</li>
        <li class="granted">Accés al forum de consulta.</li>
        <li class="granted">Suport 24/7.</li>
        <li class="denied">Accés a la llibreria de models 3d.</li>
        <li class="denied">Accés anticipat a noves funcionalitats.</li>
      </ul>
      <h2> Preu: </h2>
      <h2 class="granted"> 22,38€ / mes </h2>
      <div class="buy" (click)="updateLlicencia('dissenyador')">Comprar!</div>
    </div>
    <div class="item">
      <h1> Llicencia Decorador d'interiors</h1>
      <ul>
        <li class="granted">Accés ilimitat al software.</li>
        <li class="granted">Accés al forum de consulta.</li>
        <li class="granted">Suport 24/7.</li>
        <li class="granted">Accés a la llibreria de models 3d.</li>
        <li class="granted">Accés anticipat a noves funcionalitats.</li>
      </ul>
      <h2> Preu: </h2>
      <h2 class="granted"> 27,10€ / mes </h2>
      <div class="buy" (click)="updateLlicencia('interiors')">Comprar!</div>
    </div>

  </div>

  <div *ngIf="loadingBought && !fitxer  && !forum" class="containerBuying">
    <img class="furgoneta" src="./assets/Imagenes/tenor.gif" alt="BOUGHT">
    <div class="message">Activant la llicencia...</div>
  </div>

  <div class="felicitats" *ngIf="congratulations && !fitxers  && !forum">
    <div class='felix'>
      Felicitats! Ja pots descarregar el programa. 
    </div>
    <button id='azul' class="button button2">Descarregar Programa</button>
  </div>



  <div class="espaiFitxers" *ngIf="fitxers">

    <div class="container" *ngIf="!fitxersBanner" >

      <div class="addFiles">
        <div class="messageFiles" (click)="fitxersBanner = true">
          Benvingut al teu Espai!<br>
        </div>
      </div>
    </div>

    <div class="addFitxers" *ngIf="fitxersBanner" >
      <div class="aqui" (click)="fitxersBanner = false">AQUI TENS TOTS ELS TEUS ARXIUS.</div>
      <div class="addInput">Afegeix nous arxius:
        <input type="file" name="file" (input)="onFileChangedFitxers($event)"  accept=".ge" />
      </div>
    </div>

    <div class="containerFitxers">
      <ion-card class="fitxers" *ngFor="let item of userData.objetos" color="light">
        <span>
          <ion-card-header>

            <div class="nomCard">{{item.nom}}</div>

            <div class="cardInside">
              <a href="{{item.path}}" download>
                <img src="{{item.miniatura}}"   onerror="this.onerror=null;this.src='assets/Imagenes/noimage.jpg';" />
              </a>
              <input type="file" name="file" (input)="onFileChanged($event, item.miniatura)"  accept=".jpeg,.jpg,.png,.svg" />

              <!-- Progress Bar -->

              <div *ngIf="progressValue | async as val">
                <progress type="warning"  [value]="val" ></progress>
                <br />
                  <span *ngIf="val<100" >{{ val | number}}% </span><span *ngIf="val == 100">Completed !</span>
              </div>

              <!-- End -->

            </div>
            <button (click)="deleteFitxer(item)"class="button button3">Esborrar Fitxer</button>

          </ion-card-header>
        </span>
      </ion-card>
      </div>
  </div>

  <div class="forum" *ngIf="forum">
    <div class="addThreads">
      <div class="crearThread">
        Benvingut al FORUM!<br>

        <div class="flexed">

         <div class="headerTitle">Afegir un nou fil:</div>

          <input type="text" [(ngModel)]="titol">

          <div (click)="createThread(titol)" class="addFil"><div class="crear">Crear Fil</div></div>
        </div>
      </div>
    </div>

    <div class="containerThreads">
      <ion-card class="thread" *ngFor="let item of threadsList" color="light">
        <span>
          <ion-card-header *ngIf="!item.isEdit"  class="Unclicked">
            <div class="titol" (click)="item.isEdit = true">{{item.titol}}</div>
            <div class="creador">{{item.creador}}</div>
            <div class="respostes">Respostes: {{item.mensajes.length}}</div>
          </ion-card-header>
          <ion-card-header *ngIf="item.isEdit"  class="Clicked">
            <div class="threadTitol" (click)="item.isEdit = false">{{item.titol}}</div><br>
            <div *ngFor="let mj of item.mensajes"class="par">
              <div class="usuari">{{mj.usuario}}:</div><div class="missatgeUsuari">{{mj.mensaje}}</div> <br>
            </div>
            <div class="enviarMissatge">
              <input type="text" [(ngModel)]="missatge">
              <button (click)="submitMessage(item, missatge)" class="button button2">Enviar Missatge</button>
              <button *ngIf="item.creador === userData.correu"(click)="deleteThread(item)"class="button button3">Esborrar Fil</button>
            </div>
          </ion-card-header>
        </span>
      </ion-card>
      </div>

  </div>

</ion-content>
