/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//FONTS

:root[mode=ios] .LemonFriday,
:root[mode=md] .LemonFriday{
  --ion-font-family:  'LemonFriday'!important;
  font-family:  'LemonFriday' !important;
}

@font-face {
  font-family: 'LemonFriday';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Lemon Friday.ttf');
}

:root[mode=ios] .Finest,
:root[mode=md] .Finest{
  --ion-font-family:  'Finest'!important;
  font-family:  'Finest' !important;
}

@font-face {
  font-family: 'Finest';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Finest.otf');
}

:root[mode=ios] .Prequel,
:root[mode=md] .Prequel{
  --ion-font-family:  'Prequel'!important;
  font-family:  'Prequel' !important;
}

@font-face {
  font-family: 'Prequel';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Prequel.otf');
}

:root[mode=ios] .Bear,
:root[mode=md] .Bear{
  --ion-font-family:  'Bear'!important;
  font-family:  'Bear' !important;
}

@font-face {
  font-family: 'Bear';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Bear.ttf');
}
